<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Paciente</title>
</head>
<body>
    <h1>Novo Paciente</h1>
    <form th:action="@{/pacientes/novo}" th:object="${paciente}" method="post">
        <label for="CPF">CPF:</label>
        <input type="text" id="CPF" th:field="*{CPF}" />
        <br/>
        <label for="Nome">Nome:</label>
        <input type="text" id="Nome" th:field="*{Nome}" />
        <br/>
        <label for="Email">Email:</label>
        <input type="text" id="Email" th:field="*{Email}" />
        <br/>
        <label for="Senha">Senha:</label>
        <input type="text" id="Senha" th:field="*{Senha}" />
        <br/>
        <label for="Telefone">Telefone:</label>
        <input type="text" id="Telefone" th:field="*{Telefone}" />
        <br/>
        <label for="Sexo">Sexo:</label>
        <input type="text" id="Sexo" th:field="*{Sexo}" />
        <br/>
        <label for="Data_nascimento">Data de Nascimento:</label>
        <input type="text" id="Data_nascimento" th:field="*{Data_nascimento}" />
        <br/>
        <button type="submit">Adicionar Paciente</button>
    </form>
    <a href="/pacientes">Voltar</a>
</body>
</html>
